.Input {
  width: 50%;
  padding: 10px;
}

.InputElement {
  outline: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  font: inherit;
  padding: 6px 10px;
  display: block;
  width: 100%;
}

.InputElement:focus {
  outline: none;
  background-color: #ccc;
  border: 1px solid #222;
}

.Invalid {
  border: 1px solid var(--primary-color);
  background-color: #fda49a;
}