.PizzaItem {
  flex-basis: 25%;
  /* max-width: 25%; */
  text-align: center;
  padding: 30px 20px;
}

.ImageContainer {
  height: 200px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.PizzaImage {
  height: 100%;
  overflow: hidden;
}

.Description {
  width: 80%;
  background-color: rgba(0, 0, 0, 0.5);
  height: auto;
  position: absolute;
  bottom: 0;
  color: #fff;
}

.Description p:first-child {
  font-size: 1.25rem;
  padding: 5px;
}

.Description p:last-child {
  font-size: 0.8rem;
  padding: 0 5px 5px;
}

.PizzaItem h3 {
  padding: 5px 0 10px;
  font-size: 1.5rem;
  color: var(--primary-color);
}

.SelectForm {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.SelectForm select {
  width: 80%;
  border-radius: 5px;
  display: block;
  font-size: 1rem;
  padding: 5px;
  color: #222;
}

.SelectForm select:focus {
  border: none;
  outline: none;
}

.Button {
  width: 100%;
  position: relative;
}

.Button button {
  width: 80%;
  background: var(--primary-color);
  color: #fff;
  border: none;
  outline: none;
  font-size: 1rem;
  border-radius: 5px;
  padding: 10px 15px;
  margin: 15px 0;
  cursor: pointer;
}

.Button button:hover {
  background: var(--secondary-color);
}

.Button .Info {
  font-size: 0.8rem;
  color: green;
}

.Button div {
  position: absolute;
  right: 10%;
  bottom: 20%;
  z-index: 10;
  color: green;
  width: 30px;
  height: 30px;
  font-size: 30px;
}

@media screen and (max-width: 599px) {
  .Description {
    width: 100%;
  }
}

@media screen and (max-width: 768) {
  .Description {
    width: 100%;
  }
}

@media screen and (max-width: 1200px) {
  .Description {
    width: 100%;
  }
}