.Main {
  max-width: 100vw;
  width: 100%;
  min-height: 60vh;
  background-image: url('../../assets/background.jpg');
  background-repeat: no-repeat;
  background-position-y: -200px;
  background-size: cover;
  /* background-attachment: fixed; */
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.MainHeading {
  font-size: 5rem;
  color: var(--primary-color);
  /* color: green; */
  padding: 10px 0;
}

.MainInfo {
  font-size: 1.5rem;
  color: #fff;
}

.Delivery {
  width: 100%;
  padding: 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  animation: delivery 3s forwards ease-in-out;
  animation-iteration-count: 1;
}

@keyframes delivery {
  0% {
    transform: translateX(95vw);
  };
  100% {
    transform: translateX(0);
  };
}

.Delivery img {
  height: 100px;
}

.Delivery h3 {
  font-size: 2rem;
  color: var(--primary-color);
} 

.Delivery p {
  padding-left: 10px;
  font-size: 1rem;
  color: var(--primary-color);
}

@media screen and (max-width: 599px) {
  .Main {
    background-position-y: 0px;
  }

  .Logo img {
    height: 70px;
  }

  .MainHeading {
    text-align: center;
    font-size: 3rem;
  }
  
  .MainInfo {
    text-align: center;
    font-size: 1.3rem;
  }

  .Delivery {
    padding: 10px;
  }

  .Delivery h3 {
    font-size: 1.1rem;
  }
  
  .Delivery p {
    font-size: 0.9rem;
    padding-left: 0px;
    /* padding: 5px 10px; */
  }
}

@media screen and (max-width: 768px) {
  .Main {
    background-position-y: 0px;
  }

  .MainHeading {
    text-align: center;
  }
  
  .MainInfo {
    text-align: center;
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 1200px) {
  .Main {
    background-position-y: 0px;
  }

  .MainHeading {
    text-align: center;
  }
}