.Footer {
  max-width: 100vw;
  width: 100%;
  padding: 10px 20px;
  min-height: 80px;
  background: #2f2f2f;
  margin-top: auto;
  position: relative;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.Navigation {
  flex: 1 1 70%;
  padding: 0 30px;
}

.Navigation ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.Navigation ul li {
  flex-basis: 10%;
}

.Navigation ul li a {
  padding: 20px;
  color:#ccc;
  font-size: 1.25rem;
}

.Navigation ul li a:hover {
  color: #aaa;
}

.SocialMedia {
  flex: 1 1 30%;
  padding: 0 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}

.SocialMedia h3 {
  font-size: 1.2rem;
  color: #ccc;
  padding: 5px 10px;
}

.SocialMedia > div:first-child {
  flex: 1 1 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.SocialMediaIconsContainer {
  flex-basis: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.Icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin: 5px;
  /* padding: 10px; */
  /* background: #ddd; */
  background-color: rgba(148,187,233,1);
  border-radius: 50%;
}

.Icon a {
  cursor: pointer;
  color: #fff;
  font-size: 15px;
}

.Copyright {
  flex: 1 1 100%;
  text-align: center;
}

.Copyright p {
  font-size: 0.8rem;
  color: #ccc;
}

@media screen and (max-width: 599px) {
  .Navigation {
    flex: 1 1 50%;
  }

  .Navigation ul {
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
  }

  .Navigation ul li {
    flex: 1 1 100%;
    padding: 10px;
  }

  .Navigation ul li a {
    padding: 0;
    font-size: 1rem;
  }

  .SocialMedia {
    flex: 1 1 50%;
  }

  .Copyright {
    margin-top: 20px;
  }

  .SocialMedia h3 {
    font-size: 1rem;
    padding: 5px 0;
  }
}