.NavigationItem {
  height: 100%;
  flex-basis: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Link {
  height: 100%;
  /* flex-basis: 100%; */
  font-size: 1.25rem;
  padding: 10px;
  margin: 0 5px;
  text-align: center;
  cursor: pointer;
  color: var(--primary-color);
}

.Link:hover {
  color: var(--secondary-color);
  text-decoration: underline;
}

@media screen and (max-width: 599px) {
  .NavigationItem {
    flex-basis: 30%;
  }
  .Link {
    font-size: 1rem;
  }
}

@media screen and (max-width: 768px) {
  .NavigationItem {
    flex-basis: 15%;
  }
  .Link {
    font-size: 1rem;
  }
}