.Navigation {
  flex: 1 1 80%;
}

ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.Navigation span {
  font-size: 0.8rem;
}

@media screen and (max-width: 599px) {
  .Navigation span {
    font-size: 0.7rem;
  }
}