.Pizzas {
  width: 100%;
  padding: 30px;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  background-color: #222;
}

.PizzasContainer {
  width: 100%;
  padding: 30px;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  /* background-color: #222; */
}

.Steps {
  flex: 1 1 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}