.BasketItem {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  border-bottom: 1px solid #bbb;
  /* margin-bottom: 5px; */
  padding: 5px 0;
}

.ImageBox {
  flex-basis: 20%;
  /* padding: 10px; */
  height: 150px;
  display: flex;
}

.ImageBox img {
  width: 100%;
  height: 100%;
}

.Information {
  padding: 10px 10px 10px 20px;
  flex-basis: 50%;
  text-align: left;
}

.Information h2 {
  color: var(--primary-color);
  font-size: 2rem;
}

.Quantity {
  width: 100%;
  padding: 10px 0;
}

.Quantity input {
  padding: 5px;
  width: 20%;
  border-radius: 5px;
  border: 1px solid #222;
}

.Quantity input:focus {
  outline: none;
}

.Price {
  flex-basis: 30%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.Price div {
  flex-basis: 100%;
  font-size: 25px;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.Price div:hover {
  transform: scale(1.1);
}

.Price h4 {
  color: var(--secondary-color);
  font-size: 1rem;
}

.Price span {
  font-size: 1.5rem;
}

@media screen and (max-width: 599px) {
  .ImageBox {
      flex-basis: 35%;
      display: flex;
      align-items: center;
  }

  .ImageBox img {
      width: 90%;
      height: 90%;
  }

  .Information {
      flex-basis: 35%;
  }

  .Price {
      flex-basis: 30%;
  }
}

@media screen and (min-width: 600px) {
  .ImageBox {
      flex-basis: 25%;
  }

  .Information {
      flex-basis: 45%;
  }

  .Price {
      flex-basis: 30%;
  }
}

@media screen and (min-width: 900px) {
  .ImageBox {
      flex-basis: 20%;
  }

  .Information {
      flex-basis: 50%;
  }

  .Price {
      flex-basis: 30%;
  }
}